.env

Engine/
linux64/
Manifest_DebugFiles.txt
Manifest_NonUFSFiles.txt
Manifest_UFSFiles.txt
PackageInfo.bin
steamapps/
steamclient64.dll
steamclient.dll
steamclient.so
SteamCMDInstall.sh
tier0_s64.dll
tier0_s.dll
version.txt
vstdlib_s64.dll
vstdlib_s.dll
ShooterGame/AssetRegistry.bin
ShooterGame/Binaries
ShooterGame/Config
ShooterGame/Content
ShooterGame/ShooterGame.uproject
ShooterGame/Logs/
ShooterGame/CleanSourceConfigs/

.DS_Store